body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 300%;
}

.header, .section1, .section2{
  padding: 3%;
}


@media screen and (min-width: 769px){
  .container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 500px;
    grid-gap: 10px;
    grid-template-areas: "h h h h h h h h h h h h"
                         "s s s s s s s a a a a a";

  }

  .header{
    grid-area: h;
    background-color: #F7EA00;
  }

  .section1{
    grid-area: s;
    background-color: #34EAA9;
  }

  .section2{
    grid-area: a;
    background-color: #E486EA;
  }
}


@media screen and (max-width: 768px){
  .container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 135px 380px 135px;
    grid-gap: 5px;
    grid-template-areas: "h h h h h h h h h h h h"
                         "s s s s s s s s s s s s"
                         "a a a a a a a a a a a a";

  }

  .header{
    grid-area: h;
    background-color: #F7EA00;
  }

  .section1{
    grid-area: s;
    background-color: #34EAA9;
  }

  .section2{
    grid-area: a;
    background-color: #E486EA;
  }
}
